
<div class="flex-row">
  <div class="flex-1">

    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="stats-table-title">Your Minecraft Stats</mat-card-title>
      </mat-card-header>
      <mat-card>
        <mat-card>
          <mat-card-content>
            <div *ngFor="let stat of servedStats">
              <mat-list>
                <mat-list *ngFor="let item of stat.stats | keyvalue">
                  <mat-list-item *ngFor="let v of item | keyvalue">

                    <mat-list-item *ngFor="let thing of v.value | keyvalue">
                      {{ thing.key }}
                    </mat-list-item>
                  </mat-list-item>
                </mat-list>
              </mat-list>
            </div>
          </mat-card-content>
        </mat-card>
      </mat-card>
