
<div class="flex-row">
  <div class="flex-1">

    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="stats-table-title">Your Minecraft Stats</mat-card-title>
      </mat-card-header>
      <mat-card>
        <mat-card>
          <mat-card-content>
            <table>
              <thead>
                <tr>
                  <th>Category</th>
                  <th>Stat</th>
                  <th>Value</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let category of combinedStats">
                  <td>{{ category }}</td>
                  <td *ngFor="let stat of combinedStats[category]">{{ stat }}</td>
                  <td *ngFor="let value of combinedStats[category]">{{ value }}</td>
                </tr>
              </tbody>
            </table>
          </mat-card-content>
        </mat-card>
      </mat-card>
