<div fxFlexFill fxLayout="column">
  <mat-toolbar fxLayoutGap="16px">
    <span fxFlex>Minecraft World Statistics</span>
  </mat-toolbar>
  <div fxFlex>
    <mat-tab-group>
      <mat-tab label="Button">
        <div class="tab-container" fxLayoutAlign="center center">
          <button #buttonPicker="appFilePicker" mat-raised-button color="primary" appFilePicker (filesChanged)="_onFilesChanged($event)" (filesReset)="_onReset()">
                    Upload
          </button>
        </div>
      </mat-tab>
    </mat-tab-group>
    <mat-divider></mat-divider>
    <div>
      <mat-toolbar>
        <span>Selected Files:</span>
      </mat-toolbar>
      <app-selected-files-table [files]="_selectedFiles"></app-selected-files-table>
    </div>
  </div>
</div>
