<!DOCTYPE html>

<div fxFlexFill fxLayout="column">
  <mat-toolbar fxLayoutGap="16px">
    <span fxFlex>Minecraft World Statistics</span>
  </mat-toolbar>

  <mat-toolbar>
    <button #filePicker="appFilePicker" mat-raised-button color="primary" appFilePicker
    (filesChanged)="onFilesChanged($event)" (filesReset)="onReset()">
    Upload stats of your worlds
</button>
  </mat-toolbar>
  <div fxFlex>
    <mat-divider></mat-divider>
    <div>
      <mat-toolbar>
        <span>Uploaded Files:</span>
      </mat-toolbar>
      <app-selected-files-table [files]="selectedFiles"></app-selected-files-table>
    </div>
  </div>
  <div fxFlex>
    <mat-divider></mat-divider>
    <div>
      <mat-toolbar>
        <span>Your Minecraft Stats:</span>
      </mat-toolbar>
      <app-stats-display >Hi</app-stats-display>
    </div>
  </div>
</div>
