<div fxFlexFill fxLayout="row">
  <mat-toolbar fxLayoutGap="200px">
    <mat-card-title>Databases Project Ollie and Gregory</mat-card-title>
  </mat-toolbar>
  <mat-card>
    <mat-card-content>
     <p> Each Minecraft world has a JSON that contains its stats.
      that can be found in the Minecraft's appData folder. <br>
      With this app you can upload each world's stats
      and display the combined stats of all your worlds. <br>
      Statistics like how many mobs you've killed, how many times you've died, how much stone you've mined, etc.</p>
</mat-card-content>
</mat-card>

  <mat-toolbar>
    <button #filePicker="appFilePicker" mat-raised-button color="primary" appFilePicker
    (filesChanged)="onFilesChanged($event)" (filesReset)="onReset()">
    Upload stats of your worlds
</button>
  </mat-toolbar>
  <div fxFlex>
    <mat-divider></mat-divider>
    <div>
      <mat-toolbar>
        <span>Uploaded
          worlds:</span>
      </mat-toolbar>
      <app-selected-files-table [files]="selectedFiles"></app-selected-files-table>
    </div>
  </div>
  <div fxFlex>
    <mat-divider></mat-divider>
    <div>
      <mat-toolbar>
        <span>Your Minecraft Stats:</span>
      </mat-toolbar>
      <app-stats-display></app-stats-display>
    </div>
  </div>
</div>
